<div class="container-fluid">
    <div class="card jh-card">
		<div class="row">
		  <div class="col-md-1"></div>
		  <div class="col-md-10">
			<h6 class="text-right"><a href="http://www.ibict.br/sobre-o-ibict-1">Sobre o IBICT ></a></h6>
			<h1 class="text-capitalize text-center">Visão</h1>
			<hr/>
			<p class="text-justify">O Sistema Aberto de Observatório para Visualização de Informações (Visão) é desenvolvido em código aberto e mantido por toda a comunidade. Seu objetivo é mapear e disponibilizar através de um mapa interativo as informações oficiais produzidas por instituições públicas brasileiras.</p>
			<p class="text-justify">Com o objetivo de apoiar a tomada de decisão e construção de políticas públicas, o Visão está em constante aperfeiçoamento. Esperamos que você aproveite a ferramenta, e que possa contribuir para seu aperfeiçoamento!</p>
			<p class="text-justify">Equipe IBICT / Visão!</p>
		  </div>
		  <div class="col-md-1"></div>
		</div>
	</div>
</div>