<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="markerIcon">
            <h2><span jhiTranslate="visaoApp.markerIcon.detail.title">Marker Icon</span> {{markerIcon.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="visaoApp.markerIcon.icon">Icon</span></dt>
                <dd>
                    <div *ngIf="markerIcon.icon">
                        <a (click)="openFile(markerIcon.iconContentType, markerIcon.icon)">
                            <img [src]="'data:' + markerIcon.iconContentType + ';base64,' + markerIcon.icon" style="max-width: 100%;" alt="markerIcon image"/>
                        </a>
                        {{markerIcon.iconContentType}}, {{byteSize(markerIcon.icon)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="visaoApp.markerIcon.shadow">Shadow</span></dt>
                <dd>
                    <div *ngIf="markerIcon.shadow">
                        <a (click)="openFile(markerIcon.shadowContentType, markerIcon.shadow)">
                            <img [src]="'data:' + markerIcon.shadowContentType + ';base64,' + markerIcon.shadow" style="max-width: 100%;" alt="markerIcon image"/>
                        </a>
                        {{markerIcon.shadowContentType}}, {{byteSize(markerIcon.shadow)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="visaoApp.markerIcon.iconSize">Icon Size</span></dt>
                <dd>
                    <span>{{markerIcon.iconSize}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.markerIcon.shadowSize">Shadow Size</span></dt>
                <dd>
                    <span>{{markerIcon.shadowSize}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.markerIcon.iconAnchor">Icon Anchor</span></dt>
                <dd>
                    <span>{{markerIcon.iconAnchor}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.markerIcon.shadowAnchor">Shadow Anchor</span></dt>
                <dd>
                    <span>{{markerIcon.shadowAnchor}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.markerIcon.popupAnchor">Popup Anchor</span></dt>
                <dd>
                    <span>{{markerIcon.popupAnchor}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/marker-icon', markerIcon.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
