<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-marker-icon-heading">Create or edit a Marker Icon</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!markerIcon.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="markerIcon.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_icon">Icon</label>
                    <div>
                        <img [src]="'data:' + markerIcon.iconContentType + ';base64,' + markerIcon.icon" style="max-height: 100px;" *ngIf="markerIcon.icon" alt="markerIcon image"/>
                        <div *ngIf="markerIcon.icon" class="form-text text-danger clearfix">
                            <span class="pull-left">{{markerIcon.iconContentType}}, {{byteSize(markerIcon.icon)}}</span>
                            <button type="button" (click)="clearInputImage('icon', 'iconContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_icon" (change)="setFileData($event, markerIcon, 'icon', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="icon" id="field_icon"
                        [(ngModel)]="markerIcon.icon" required/>
                    <input type="hidden" class="form-control" name="iconContentType" id="field_iconContentType"
                        [(ngModel)]="markerIcon.iconContentType" />
                    <div [hidden]="!(editForm.controls.icon?.dirty && editForm.controls.icon?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.icon?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shadow">Shadow</label>
                    <div>
                        <img [src]="'data:' + markerIcon.shadowContentType + ';base64,' + markerIcon.shadow" style="max-height: 100px;" *ngIf="markerIcon.shadow" alt="markerIcon image"/>
                        <div *ngIf="markerIcon.shadow" class="form-text text-danger clearfix">
                            <span class="pull-left">{{markerIcon.shadowContentType}}, {{byteSize(markerIcon.shadow)}}</span>
                            <button type="button" (click)="clearInputImage('shadow', 'shadowContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_shadow" (change)="setFileData($event, markerIcon, 'shadow', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="shadow" id="field_shadow"
                        [(ngModel)]="markerIcon.shadow" />
                    <input type="hidden" class="form-control" name="shadowContentType" id="field_shadowContentType"
                        [(ngModel)]="markerIcon.shadowContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_iconSize">Icon Size</label>
                    <input type="text" class="form-control" name="iconSize" id="field_iconSize"
                        [(ngModel)]="markerIcon.iconSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shadowSize">Shadow Size</label>
                    <input type="text" class="form-control" name="shadowSize" id="field_shadowSize"
                        [(ngModel)]="markerIcon.shadowSize" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_iconAnchor">Icon Anchor</label>
                    <input type="text" class="form-control" name="iconAnchor" id="field_iconAnchor"
                        [(ngModel)]="markerIcon.iconAnchor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_shadowAnchor">Shadow Anchor</label>
                    <input type="text" class="form-control" name="shadowAnchor" id="field_shadowAnchor"
                        [(ngModel)]="markerIcon.shadowAnchor" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_popupAnchor">Popup Anchor</label>
                    <input type="text" class="form-control" name="popupAnchor" id="field_popupAnchor"
                        [(ngModel)]="markerIcon.popupAnchor" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
