<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-type-presentation-heading" jhiTranslate="visaoApp.typePresentation.home.createOrEditLabel">Create or edit a Type Presentation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!typePresentation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="typePresentation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.typePresentation.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="typePresentation.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.typePresentation.display" for="field_display">Display</label>
                    <input type="text" class="form-control" name="display" id="field_display"
                        [(ngModel)]="typePresentation.display" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.typePresentation.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="typePresentation.description" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
