<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-layer-heading" jhiTranslate="visaoApp.layer.home.createOrEditLabel">Create or edit a Layer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!layer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="layer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="layer.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.geoJson" for="field_geoJson">Geo Json</label>
                    <textarea class="form-control" name="geoJson" id="field_geoJson"
                        [(ngModel)]="layer.geoJson" required></textarea>
                    <div [hidden]="!(editForm.controls.geoJson?.dirty && editForm.controls.geoJson?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.geoJson?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="layer.type" id="field_type"  required>
                        <option value="MARKER">{{'visaoApp.TypeLayer.MARKER' | translate}}</option>
                        <option value="CIRCLE">{{'visaoApp.TypeLayer.CIRCLE' | translate}}</option>
                        <option value="POLYGON">{{'visaoApp.TypeLayer.POLYGON' | translate}}</option>
                        <option value="ICON">{{'visaoApp.TypeLayer.ICON' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="layer.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.source" for="field_source">Source</label>
                    <input type="text" class="form-control" name="source" id="field_source"
                        [(ngModel)]="layer.source" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.dateChange" for="field_dateChange">Date Change</label>
                    <div class="d-flex">
                        <input id="field_dateChange" type="datetime-local" class="form-control" name="dateChange" [(ngModel)]="dateChange"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.note" for="field_note">Note</label>
                    <textarea class="form-control" name="note" id="field_note"
                        [(ngModel)]="layer.note" ></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="layer.category" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === layer.category?.id ? layer.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.icon" for="field_icon">Icon</label>
                    <select class="form-control" id="field_icon" name="icon" [(ngModel)]="layer.icon" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="markerIconOption.id === layer.icon?.id ? layer.icon : markerIconOption" *ngFor="let markerIconOption of markericons; trackBy: trackMarkerIconById">{{markerIconOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.layer.group" for="field_group">Group</label>
                    <select class="form-control" id="field_group" name="group" [(ngModel)]="layer.group" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="groupLayerOption.id === layer.group?.id ? layer.group : groupLayerOption" *ngFor="let groupLayerOption of grouplayers; trackBy: trackGroupLayerById">{{groupLayerOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
