<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="region">
            <h2><span jhiTranslate="visaoApp.region.detail.title">Region</span> {{region.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="visaoApp.region.name">Name</span></dt>
                <dd>
                    <span>{{region.name}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.region.uf">Uf</span></dt>
                <dd>
                    <span>{{region.uf}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.region.geoCode">Geo Code</span></dt>
                <dd>
                    <span>{{region.geoCode}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.region.typeRegion">Type Region</span></dt>
                <dd>
                    <span jhiTranslate="{{'visaoApp.TypeRegion.' + region.typeRegion}}">{{region.typeRegion}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.region.relacao">Relacao</span></dt>
                <dd>
                    <span *ngFor="let relacao of region.relacaos; let last = last">
                        <a [routerLink]="['/region', relacao?.id, 'view' ]">{{relacao.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/region', region.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
