<div>
    <h2 id="page-heading">
        <span jhiTranslate="visaoApp.chart.home.title">Charts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chart" [routerLink]="['/chart/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="visaoApp.chart.home.createLabel">
            Create new Chart
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="charts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="visaoApp.chart.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="html"><span jhiTranslate="visaoApp.chart.html">Html</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="permission"><span jhiTranslate="visaoApp.chart.permission">Permission</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="owner.id"><span jhiTranslate="visaoApp.chart.owner">Owner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chart of charts ;trackBy: trackId">
                <td><a [routerLink]="['/chart', chart.id, 'view' ]">{{chart.id}}</a></td>
                <td>{{chart.name}}</td>
                <td>{{chart.html}}</td>
                <td jhiTranslate="{{'visaoApp.Permission.' + chart.permission}}">{{chart.permission}}</td>
                <td>
                    {{chart.owner?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/chart', chart.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chart', chart.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'chart/'+ chart.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Pager is not implemented yet, so this is normal pagination instead -->
    <div *ngIf="charts && charts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
