<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-chart-heading">Create or edit a Chart</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!chart.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="chart.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="chart.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_external">External</label>
                    <input type="checkbox" class="form-control" name="external" id="field_external"
                        [(ngModel)]="chart.external" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_html">Html</label>
                    <textarea class="form-control" name="html" id="field_html"
                        [(ngModel)]="chart.html" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_permission">Permission</label>
                    <select class="form-control" name="permission" [(ngModel)]="chart.permission" id="field_permission" >
                        <option value="PUBLIC">PUBLIC</option>
                        <option value="PRIVATE">PRIVATE</option>
                        <option value="SHARED">SHARED</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="chart.owner" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === chart.owner?.id ? chart.owner : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_shared">Shared</label>
                    <select class="form-control" id="field_shared" multiple name="shared" [(ngModel)]="chart.shareds">
                        <option [ngValue]="getSelected(chart.shareds, userOption)" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
