/* ==========================================================================
Navbar
========================================================================== */
.navbar {
    background-color: rgb(20, 102, 120);
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-left: -15px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
}

.jh-navbar {
    z-index: 1;
    padding: 0.2em 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active,
    .dropdown-item.active:focus,
    .dropdown-item.active:hover {
        background-color: #414735;
    }
    .dropdown-toggle::after {
        display: none;
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.1rem;
        }
    }
    a.nav-link {
        font-weight: 400;
        color: white;
    }
    .jh-navbar-toggler {
        color: #ccc;
        font-size: 1.5em;
        padding: 10px;
        &:hover {
            color: #fff;
        }
    }
}
#menu {
    height: 56px;
    padding: 8px 16px;
}
.nav-link:focus {
    font-family: 'Roboto Condensed' !important;
    font-style: normal;
    font-weight: bold !important;
    font-size: 20px !important;
    line-height: 23px !important;
}
.dropdown-menu.show {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 60px !important;
    left: -120px !important
        
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
}

.navbar-title {
    display: inline-block;
    vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */

.navbar-brand {
    &.logo {
        padding: 10px 15px;
        .logo-img {
            height: 30px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url('../../../content/images/logo2.png') no-repeat center center;
            background-size: 70px;
        }
    }
}
