<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="groupLayer">
            <h2><span>Group Layer</span> {{groupLayer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{groupLayer.name}}</span>
                </dd>
                <dt><span>Active</span></dt>
                <dd>
                    <span>{{groupLayer.active}}</span>
                </dd>
                <dt><span>Key Word</span></dt>
                <dd>
                    <span>{{groupLayer.keyWord}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    {{groupLayer.owner?.id}}
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <span *ngFor="let category of groupLayer.categories; let last = last">
                        <a [routerLink]="['/category', category?.id, 'view' ]">{{category.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group-layer', groupLayer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
