<div class="bg-home">
    <div class="loko">
        <div class="row">
            <div class="col-md-6 offset-3" style="margin-top:40px">
                <h1 class="home-yellow">VISUALIZAÇÃO GEOGRÁFICA DE DADOS</h1>
                <p class="text-light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id gravida
                    enim, et rutrum massa. Nam sollicitudin mauris sed aliquam blandit.
                    Duis sit amet purus vel ante pharetra consectetur ut quis justo. Donec
                    eleifend cursus nisl, et lobortis libero placerat a. Sed in cursus urna, et
                    dapibus est. Aenean commodo metus lorem, in luctus neque molestie in.
                    Donec ipsum libero, facilisis eget metus at, tempus commodo ante.
                    Donec sit amet gravida nibh.
                </p>
                <div class="text-center">
                    <a type="button" class="btn btn-explore" href="../../../map/index.html">Explore o mapa!</a>
                </div>
            </div>
        </div>
    </div>
</div>
