
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bem vindo!</h1>
      <p>Com o objetivo de apoiar a tomada de decisão e construção de políticas públicas, o Visão está em constante aperfeiçoamento. Esperamos que você aproveite a ferramenta, e que possa contribuir para seu aperfeiçoamento!</p>
      <p><a class="btn btn-primary btn-lg" routerLink="visoes" role="button">Explore as visões! &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Sobre</h2>
        <p>O Sistema Aberto de Observatório para Visualização de Informações...</p>
        <p><a class="btn btn-secondary" routerLink="sobre" role="button">Veja mais &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Código aberto</h2>
        <p>Instale seu próprio Visão ou contribua para com o projeto no GitHub.</p>
        <p><a class="btn btn-secondary" href="https://github.com/IBICT/visao" role="button">GitHub &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Fale Conosco</h2>
        <p>visao@ibict.com.br<br />0800-1001<br /></p>
        <p><a class="btn btn-secondary" href="mailto:visao@ibict.com.br?Subject=Visao%2contato" role="button">Contato &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->


<footer class="container">
  <p>&copy; IBICT 2019</p>
</footer>