<div class="bg-home">
    <div class="logoBackground ">
        <div class="row">
            <div class="col-md-6 offset-3" style="margin-top:40px">
                <div class="layout">
                    <h1 class="home-yellow">Bem vindo!</h1>
                    <br />
                    <div class="text-light">
                        <p>
                            O Sistema Aberto de Observatório para Visualização de Informações (Visão) é desenvolvido em código aberto e mantido por toda a comunidade. Seu objetivo é mapear e disponibilizar através de um mapa interativo as informações oficiais produzidas por instituições públicas brasileiras.
                        </p>
                        <br />
                        <p >
                            Com o objetivo de apoiar a tomada de decisão e construção de políticas públicas, o Visão está em constante aperfeiçoamento. Esperamos que você aproveite a ferramenta, e que possa contribuir para seu aperfeiçoamento!
                        </p>
                        <br />
                        <p >
                            Equipe IBICT / Visão!
                        </p>    
                    </div>

                    <div class="containerInstancias" *ngFor="let instancia of instancias">
                        <div class="instanciaBlock">
                            <a href="../../../map/index.html?grpCat={{instancia.id}}">
                                <img class="iconInstancia" src="../../content/images/hipster.png">
                                <label>{{instancia.name}}</label>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
