<div class="container-fluid">
    <div class="card jh-card">
		<div class="row">
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>IBICT</title><rect width="100%" height="100%" fill="#55595c"/><text x="45%" y="50%" fill="#eceeef" dy=".3em">IBICT</text></svg>
				<div class="card-body">
				  <p class="card-text">Instituto Brasileiro de Informação em Ciência e Tecnologia</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 1 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>SUV</title><rect width="100%" height="100%" fill="#55595c"/><text x="45%" y="50%" fill="#eceeef" dy=".3em">SUV</text></svg>
				<div class="card-body">
				  <p class="card-text">Subsecretária de Unidades Vinculadas</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 2 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>ME</title><rect width="100%" height="100%" fill="#55595c"/><text x="45%" y="50%" fill="#eceeef" dy=".3em">ME</text></svg>
				<div class="card-body">
				  <p class="card-text">Ministério da Economia</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 3 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Inova SUS</title><rect width="100%" height="100%" fill="#55595c"/><text x="35%" y="50%" fill="#eceeef" dy=".3em">Inova SUS</text></svg>
				<div class="card-body">
				  <p class="card-text">Inova SUS</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 4 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Anatel</title><rect width="100%" height="100%" fill="#55595c"/><text x="45%" y="50%" fill="#eceeef" dy=".3em">Anatel</text></svg>
				<div class="card-body">
				  <p class="card-text">Anatel</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 5 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Funasa</title><rect width="100%" height="100%" fill="#55595c"/><text x="40%" y="50%" fill="#eceeef" dy=".3em">Funasa</text></svg>
				<div class="card-body">
				  <p class="card-text">Amazônia legal sem resíduo</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 6 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Escola do Trabalhador</title><rect width="100%" height="100%" fill="#55595c"/><text x="25%" y="50%" fill="#eceeef" dy=".3em">Escola do Trabalhador</text></svg>
				<div class="card-body">
				  <p class="card-text">Escola do Trabalhador</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 7 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Ministério da Cidadania</title><rect width="100%" height="100%" fill="#55595c"/><text x="45%" y="50%" fill="#eceeef" dy=".3em">MC
		</text></svg>
				<div class="card-body">
				  <p class="card-text">Ministério da Cidadania</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 8 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
			  <div class="card mb-4 shadow-sm">
				<svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>CICIB</title><rect width="100%" height="100%" fill="#55595c"/><text x="40%" y="50%" fill="#eceeef" dy=".3em">CICIB</text></svg>
				<div class="card-body">
				  <p class="card-text">CICIB</p>
				  <div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
					  <a class="btn btn-sm btn-outline-secondary" routerLink="../visao" [queryParams]="{ chart: 1, grupCategory: 9 }" >Ver</a>
					  <button type="button" class="btn btn-sm btn-outline-secondary">Compartilhar</button>
					</div>
					<small class="text-muted">9 mins</small>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>