<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-grup-indicator-heading">Create or edit a Grup Indicator</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!grupIndicator.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="grupIndicator.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="grupIndicator.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="grupIndicator.active" />
                    <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.active?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                        [(ngModel)]="grupIndicator.description" ></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_keyWord">Key Word</label>
                    <input type="text" class="form-control" name="keyWord" id="field_keyWord"
                        [(ngModel)]="grupIndicator.keyWord" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_source">Source</label>
                    <input type="text" class="form-control" name="source" id="field_source"
                        [(ngModel)]="grupIndicator.source" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateChange">Date Change</label>
                    <div class="d-flex">
                        <input id="field_dateChange" type="datetime-local" class="form-control" name="dateChange" [(ngModel)]="dateChange"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Note</label>
                    <textarea class="form-control" name="note" id="field_note"
                        [(ngModel)]="grupIndicator.note" ></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_owner">Owner</label>
                    <select class="form-control" id="field_owner" name="owner" [(ngModel)]="grupIndicator.owner" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === grupIndicator.owner?.id ? grupIndicator.owner : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_typePresentation">Type Presentation</label>
                    <select class="form-control" id="field_typePresentation" name="typePresentation" [(ngModel)]="grupIndicator.typePresentation" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="typePresentationOption.id === grupIndicator.typePresentation?.id ? grupIndicator.typePresentation : typePresentationOption" *ngFor="let typePresentationOption of typepresentations; trackBy: trackTypePresentationById">{{typePresentationOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_category">Category</label>
                    <select class="form-control" id="field_category" multiple name="category" [(ngModel)]="grupIndicator.categories">
                        <option [ngValue]="getSelected(grupIndicator.categories, categoryOption)" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
