<div>
    <!--<h2><span>map</span></h2>-->
    <!--<hr>-->
    <!--<jhi-alert-error></jhi-alert-error>-->

        <!--class="leaflet-container leaflet-fade-anim leaflet-grab leaflet-touch-drag"-->
    <div
         style= "width: 100%; height: 80vh;"


         leaflet
         [leafletOptions]="options"
         (leafletMapReady)="onMapReady($event)"
         [leafletLayersControl]="layersControl">
    </div>
<!--<div class="table-responsive" *ngIf="maps">-->
    <!--<table class="table table-striped">-->
        <!--<thead>-->
        <!--<tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr *ngFor="let map of maps ;trackBy: trackId">-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->




<!--</div>-->
</div>
