<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="metaDado">
            <h2><span jhiTranslate="visaoApp.metaDado.detail.title">Meta Dado</span> {{metaDado.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="visaoApp.metaDado.name">Name</span></dt>
                <dd>
                    <span>{{metaDado.name}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.metaDado.value">Value</span></dt>
                <dd>
                    <span>{{metaDado.value}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.metaDado.nome">Nome</span></dt>
                <dd>
                    <span *ngFor="let nome of metaDado.nomes; let last = last">
                        <a [routerLink]="['/name', nome?.id, 'view' ]">{{nome.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/meta-dado', metaDado.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
