.modal-body {
    width: 512px;
    height: 401px;
    background: #f2f2f2;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 5px !important;
    // top: 190px;
    left: -3px;
}
.caixa {
    width: 380px;
    height: 321px;
    position: relative;
    top: 9px;
    left: -30px;
}
.input-user {
    font-family: 'Roboto';
    width: 371px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    left: -12px;
    border-radius: 16px;
}
.modal-title {
    font-family: 'Roboto Condensed';
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
    margin-bottom: 22px;
    color: #146678;
}
.form-group {
    font-family: 'Roboto Condensed';
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
}
.esqueci-senha {
    left: 60%;
    font-weight: normal;
    position: relative;
    width: 114px;
    height: 15px;

    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    color: #bdbdbd;
}
.check-box {
    font-family: 'Roboto Condensed';
    font-size: 15px;
    font-weight: normal;
    color: #bdbdbd;
}
.form-check {
    font-family: 'Roboto Condensed';
    font-size: 14px;
}
.btn-botao {
    font-family: 'Roboto Condensed';
    color: white;
    border-radius: 10px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.15);
    width: 120px;
    background: #d9b42e;
}
.btn-secondary {
    font-family: 'Roboto Condensed';
    color: white !important;
    border-radius: 10px;
    width: 120px;
    margin-left: 100px;
    background: #bdbdbd;
    border: 1px solid #bdbdbd;
}
.btn-secondary:hover {
    border: 1px solid #848484;
}
.btn-warning {
    font-family: 'Roboto Condensed';
    border-radius: 10px !important;
}
.btn-warning:hover {
    font-weight: bold;
}
.fechar {
    position: absolute;
    top: 2px;
    font-size: 27px;
    color: #856404;
    right: 12px;
    font-family: 'Roboto Condensed';
}
.seta {
    background: black;
    width: 10px;
    height: 10px;
    position: relative;
}
.alert-danger {
    font-size: 16px;
    font-family: 'Roboto';
    position: relative;
    left: -12px;
    top: -12px;
    margin-bottom: 0px;
}
