<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="name">
            <h2><span jhiTranslate="visaoApp.name.detail.title">Name</span> {{name.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="visaoApp.name.value">Value</span></dt>
                <dd>
                    <span>{{name.value}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.category">Category</span></dt>
                <dd>
                    <div *ngIf="name.category">
                        <a [routerLink]="['/category', name.category?.id, 'view']">{{name.category?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/name', name.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
