<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="name">
            <h2><span jhiTranslate="visaoApp.name.detail.title">Name</span> {{name.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="visaoApp.name.value">Value</span></dt>
                <dd>
                    <span>{{name.value}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.active">Active</span></dt>
                <dd>
                    <span>{{name.active}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.description">Description</span></dt>
                <dd>
                    <span>{{name.description}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.keyWord">Key Word</span></dt>
                <dd>
                    <span>{{name.keyWord}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.date">Date</span></dt>
                <dd>
                    <span>{{name.date}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.source">Source</span></dt>
                <dd>
                    <span>{{name.source}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.dateChange">Date Change</span></dt>
                <dd>
                    <span>{{name.dateChange}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.note">Note</span></dt>
                <dd>
                    <span>{{name.note}}</span>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.category">Category</span></dt>
                <dd>
                    <div *ngIf="name.category">
                        <a [routerLink]="['/category', name.category?.id, 'view']">{{name.category?.name}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.typePresentation">Type Presentation</span></dt>
                <dd>
                    <div *ngIf="name.typePresentation">
                        <a [routerLink]="['/type-presentation', name.typePresentation?.id, 'view']">{{name.typePresentation?.display}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="visaoApp.name.user">User</span></dt>
                <dd>
                    {{name.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/name', name.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
