<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-name-heading" jhiTranslate="visaoApp.name.home.createOrEditLabel">Create or edit a Name</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!name.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="name.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.value" for="field_value">Value</label>
                    <input type="text" class="form-control" name="value" id="field_value"
                        [(ngModel)]="name.value" required/>
                    <div [hidden]="!(editForm.controls.value?.dirty && editForm.controls.value?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.value?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.active" for="field_active">Active</label>
                    <input type="checkbox" class="form-control" name="active" id="field_active"
                        [(ngModel)]="name.active" />
                    <div [hidden]="!(editForm.controls.active?.dirty && editForm.controls.active?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.active?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="name.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.keyWord" for="field_keyWord">Key Word</label>
                    <input type="text" class="form-control" name="keyWord" id="field_keyWord"
                        [(ngModel)]="name.keyWord" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.producer" for="field_producer">Producer</label>
                    <input type="text" class="form-control" name="producer" id="field_producer"
                        [(ngModel)]="name.producer" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.source" for="field_source">Source</label>
                    <input type="text" class="form-control" name="source" id="field_source"
                        [(ngModel)]="name.source" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.dateChange" for="field_dateChange">Date Change</label>
                    <div class="d-flex">
                        <input id="field_dateChange" type="datetime-local" class="form-control" name="dateChange" [(ngModel)]="dateChange"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.note" for="field_note">Note</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="name.note" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" [(ngModel)]="name.category" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === name.category?.id ? name.category : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="visaoApp.name.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="name.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === name.user?.id ? name.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
